gencode.v33lift37.basic.annotation.gff3.gz
gencode.v33.basic.annotation.gff3.gz
gencode.v33lift37.basic.annotation.gtf.gz
gencode.v33.basic.annotation.gtf.gz
Homo_sapiens.GRCh38.99.chr.gff3.gz
Homo_sapiens.GRCh38.99.chr.gtf.gz